<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<body>

<div class="layout">

  <!-- LEFT SIDEBAR -->
  <div class="sidebar">

    <!-- TOP SECTION -->
    <div class="sidebar-top">

      <img src="/assets/img/profile.jpg" class="profile">

      <h2 class="section-title">Dmytro Hasan</h2>
      <p>Statistical Programmer Analyst</p>
      <div class="links">

        <a href="https://github.com/dimagmehanic" target="_blank">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/dmytro-hasan-29a420a8" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
 
      </div>

      <!-- HOME ICON -->
      <div class="text-links">
        <a href="/" title="Home">Home</a>
      </div>

      <!-- Projects ICON -->
      <div class="text-links">
        <a href="/projects/" title="Projects">Projects</a>
      </div>

    </div>

    <!-- BOTTOM ICONS -->
    <div class="sidebar-bottom">
      <div class="theme-toggle">
        <button onclick="toggleTheme()">Toggle Mode</button>
      </div>
    </div>

  </div>

  <!-- MAIN CONTENT -->
  <div class="content">
    {{ content }}
  </div>

</div>
<script>
  function toggleTheme() {
    if (document.body.classList.contains("dark-mode")) {
      document.body.classList.remove("dark-mode");
      localStorage.setItem("theme", "light");
    } else {
      document.body.classList.add("dark-mode");
      localStorage.setItem("theme", "dark");
    }
  }

  /* load theme on every page */
  (function () {
    const savedTheme = localStorage.getItem("theme");

    if (savedTheme === "dark") {
      document.body.classList.add("dark-mode");
    }
  })();
</script>
</body>
</html>